<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="kuca"  connectionString="Data Source=DESKTOP-PUN4DMF\SQLEXPRESS;Initial Catalog=Mobilizacija_Ivan_Markovic;Integrated Security=True" />
        <add name="skola" connectionString="Data Source=DESKTOP-PUN4DMF\SQLEXPRESS;Initial Catalog=Mobilizacija_Ivan_Markovic;Integrated Security=True" />
    </connectionStrings>
</configuration>
